body {
 background: white;
}

body > header > nav.shown-mobile {
    margin-top: 12px;
    margin-bottom: 12px;
}

header {
    position: relative;
    box-shadow: 1px -4px 20px 2px rgba(0,0,0,0.75);
}

main {
    padding-left: 24px;
}

button {
    background-color: transparent;
    border: none;
}

hr {
    margin: auto !important;
    border: 3px solid #ec5242 !important;
    width: 5% !important;
}

ul {
    list-style-type: none;
    margin-bottom: 0 !important;
}

ul > li > a{
    text-decoration: none;
    padding: 0;
    margin: 0;
}

div.col-md-12.first-nav > div.row > ul.col-md-4 > li > a {
    color: white
}

nav.col.hidden-mobile > div.col-md-12.mt-md-2.mb-md-2 > div.row {
    background-color: white;
}

.partner {
    color: #9C9C9C;
    font-size: 24px;
    font-weight: bold;
}

ul.anim-akam > li > a {
    color: #9C9C9C;
    font-weight: bold;
}

ul.anim-akam > li > a:hover{
    color: #ec5242;
    padding: 12px;
    border: 2px solid #ec5242;
    padding: 12px;
    border: 2px solid #ec5242;
}

a#aboutNavbar {
  color: #ec5242 !important;
}

.first-nav{
  background-color: #3e3e3e;
}

.first-footer{
    /*color: #4c4b4f;*/
    color: #9c9c9c
}

.mobMenu {
    height: 100vh;
    display: fixed;
    flex-direction: column;
}

.mobMenu > a {
    align-items: center;
    align-self: flex-end;
}

.mobMenu > ul > li {
    display: flex;
    margin-top: 40px;
    margin-right: 32px;
    align-items: center;
    justify-content: space-between;
}
  
.mobMenu > ul > li > a {
    font-size: 24px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

#closeIcon {
    text-decoration: none !important;
}

.closeIcon {
    margin-top: 16px;
    margin-right: 28px;
    color: black;
}

.text_imgback {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url('../img/main.jpg');
    background-size: 300% 300% !important;
    -webkit-animation: Gradient 10s ease-in-out infinite;
    -moz-animation: Gradient 10s ease-in-out infinite;
    animation: Gradient 10s ease-in-out infinite;
    margin: 0;
    font-size: 65px;
}

.text_header {
    font-size: 30px;
    padding: 0px;
    margin: 0px;
}

.section1 {
    background-image: url("../img/bg.jpg");
    background-color: #d3d3d3;
    background-blend-mode: lighten;
}

.text-lato {
    font-family: 'Lato', sans-serif;
}

.text-cocogoose {
    font-family: 'Cocogoose', sans-serif;
}

.text-dark {
    color: #272a31;
    font-family: 'Lato', sans-serif;
}

.text-magenta {
    color: #EC5242;
    font-family: 'Lato', sans-serif;
}

.bg-magenta {
    background-color: #EC5242;
}

.bg-light {
    background-color: #d3d3d3;
}

.bg-light-transparent {
    background-color: rgba(255, 255, 255, 0.2);
}

.first-nav{
  background-color: #3e3e3e;
}

.text_imgback {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url('../img/main.jpg');
    background-size: 300% 300% !important;
    -webkit-animation: Gradient 10s ease-in-out infinite;
    -moz-animation: Gradient 10s ease-in-out infinite;
    animation: Gradient 10s ease-in-out infinite;
    margin: 0;
    font-size: 65px;
}

.text_header {
    font-size: 30px;
    padding: 0px;
    margin: 0px;
}

.section1 {
    background-image: url("../img/bg.jpg");
    background-color: #d3d3d3;
    background-blend-mode: lighten;
}

.text-lato {
    font-family: 'Lato', sans-serif;
}

.text-cocogoose {
    font-family: 'Cocogoose', sans-serif;
}

.text-dark {
    color: #272a31;
    font-family: 'Lato', sans-serif;
}

.text-magenta {
    color: #EC5242;
    font-family: 'Lato', sans-serif;
}

.bg-magenta {
    background-color: #EC5242;
}

.bg-light {
    background-color: #d3d3d3;
}

.bg-light-transparent {
    background-color: rgba(255, 255, 255, 0.2);
}

.border-white {
    border: 2px solid #fff;
}

.border-white {
    border: 2px solid #fff;
}

.section2 {
    background: linear-gradient(-45deg, #222 50%, transparent 5%);
    background-size: 20px 20px;
    background-color: #272a31;
}

.w-100 {
    width: 100%;
}

div.col.text-center.text-light > a{}



@media (max-width: 768px) {
    .hidden-mobile {
      display: none;
    }

    header {
        position: static;
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 768px) and (max-width: 1100px), (min-width: 1100px) and (max-width: 2024px) {
    .shown-mobile {
      display: none;
    }
}